<h1>All Articles</h1>

<hr>
<h2> Top Three Articles</h2>
  <ul>
  <% (0..2).each do |i|%>
    <% article = @popular[i] %>
    <li><%= link_to "#{article.title}", article_path(article) %></li>
  <% end %>
  </ul>
</div>
<hr>


<h2 id="months"> All Articles </h2>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

</br>
</br>

<hr>
<h2 id="months"> Sorted By Month </h2>
<% @article_months.sort.each do |pub, articles| %>
  <h3><%= pub.strftime('%B') %></h3>
  <ul>
  <% for article in articles %>
    <li><%= link_to "#{article.title}", article_path(article) %></li>
  <% end %>
  </ul>
<% end %>


<%= link_to "Create a new article", new_article_path, class: 'new_article'  %>